<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a class="navbar-brand" href="/">Weblog</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/search">検索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">アカウント</a>
      </li>
    </ul>
    <% if (locals.user) { %>
    <form class="form-inline mt-2 mt-md-0" method="POST" action="/account/logout">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ログアウト</button>
    </form>
    <% } %>
  </div>
</nav>